{% extends "base.html" %}

{% block title %} garments {% endblock %}

{% block heading %}
garments
{% endblock %}

{% block content %}

<table>
    <tr>
        <th>id</th>
        <th>transaction id</th>
        <th>garment name</th>
        <th>number_fabrics_used</th>
        <th>fabric1</th>
        <th>fabric1_weight_used</th>
        <th>fabric2</th>
        <th>fabric2_weight_used</th>
        <th>trimming_technique</th>
        <th>sewing_technique</th>
        <th>printing_technique</th>
        <th>chemical_finish</th>
        <th>screen_printing_or_heat_transfer</th>
        <th>cost price</th>
        <th>quantity_in_inventory</th>
    </tr>
    {% if garments %}
    {% for f in garments %}
    <tr>
        <td>{{ f.row_id }}</td>
        <td>{{ f.transaction_id }}</td>
        <td>{{ f.garment.garment.garment_name }}</td>
        <td>{{ f.garment.garment.number_fabrics_used }}</td>
        <td>{{f.garment.garment.fabric1.fabric.fabric.fabric_name}}</td>
        <td>{{f.garment.garment.fabric1_weight_used}}</td>
        <td>{{f.garment.garment.fabric2.fabric.fabric.fabric_name}}</td>
        <td>{{f.garment.garment.fabric2_weight_used}}</td>
        <td>{{ f.garment.garment.trimming_technique }}</td>
        <td>{{ f.garment.garment.sewing_technique }}</td>
        <td>{{ f.garment.garment.printing_technique }}</td>
        <td>{{ f.garment.garment.chemical_finish }}</td>
        <td>{{ f.garment.garment.screen_printing_or_heat_transfer }}</td>
        <td>{{f.garment.selling_price_per_unit}}</td>
        <td>{{f.quantity_in_inventory}}</td>
    </tr>
    {% endfor %}
    {% endif %}
</table>
{% endblock %}