<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="static/assets/vendor/bootstrap/css/bootstrap.min.css">
    <link href="static/assets/vendor/fonts/circular-std/style.css" rel="stylesheet">
    <link rel="stylesheet" href="static/assets/libs/css/style.css">
    <link rel="stylesheet" href="static/assets/vendor/fonts/fontawesome/css/fontawesome-all.css">
    <link rel="stylesheet" href="static/assets/vendor/charts/chartist-bundle/chartist.css">
    <link rel="stylesheet" href="static/assets/vendor/charts/morris-bundle/morris.css">
    <link rel="stylesheet" href="static/assets/vendor/fonts/material-design-iconic-font/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="static/assets/vendor/charts/c3charts/c3.css">
    <link rel="stylesheet" href="static/assets/vendor/fonts/flag-icon-css/flag-icon.min.css">
    <title>Collatz - A Sustainability Dashboard</title>
</head>

<body>
    <!-- Warehouse modal -->
    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
    
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    
    
                        <h5 class="card-header">Raw Material | Warehouse</h5>
                        <div class="card-body">
                            <form>
                                <div class="form-group">
                                    <label for="input-select1">Seller Information</label>
                                    <select class="form-control" id="input-select1">
                                        <option>ABC Surat</option>
                                    </select>
                                </div>
    
                                <div class="form-group">
                                    <label for="input-select2">Type of Fabric</label>
                                    <select class="form-control" id="input-select2">
                                        <option>Organic</option>
                                    </select>
                                </div>
    
                                <div class="form-group">
                                    <label for="input-select3">Area of fabric (square metre)</label>
                                    <input id="input-select3" type="number" class="form-control" placeholder="100">
    
                                </div>
    
                                <div class="form-group">
                                    <label for="input-select7">Weight of fabric</label>
                                    <input id="input-select7" type="number" class="form-control" placeholder="1000kg">
                                </div>
    
    
                                <div class="form-group">
                                    <label for="input-select4">Cost per unit (INR)</label>
                                    <input id="input-select4" type="number" class="form-control" placeholder="INR 100">
    
                                </div>
                                <div class="form-group">
                                    <label for="input-select5">Rebate Percentage</label>
                                    <input id="input-select5" type="number" class="form-control" placeholder="12.5">
    
                                </div>
    
                                <div class="form-group">
                                    <label for="input-select6">Product ID</label>
                                    <select class="form-control" id="input-select6">
                                        <option>P23451</option>
                                    </select>
                                </div>
    
                                <!-- <div class="form-group">
                                        <label for="input-select7">Number of fabric used</label>
                                        <select class="form-control" id="input-select7">
                                            <option>3</option>
                                        </select>
                                    </div> -->
    
    
    
    
    
                            </form>
                        </div>
    
                        <button type="button" class="btn btn-primary" aria-haspopup="true" aria-expanded="false"
                            style="width: 20%;margin-left: 5%;margin-bottom: 5%;">Submit</button>
    
    
    
                    </div>
                </div>
    
    
            </div>
        </div>
    </div>
    <!-- End warehouse modal -->
    
    <!-- start of finished goods -->
    <div class="modal fade bd-example-modal-lg finishedgoods" tabindex="-1" role="dialog"
        aria-labelledby="myLargeModalLabel1" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
    
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    
    
                        <h5 class="card-header">Finished Grments | Warehouse</h5>
                        <div class="card-body">
                            <form>
                                <div class="form-group">
                                    <label for="input-select1">Product ID</label>
                                    <input id="input-select1" type="number" class="form-control" placeholder="A2938">
    
                                </div>
    
    
                                <div class="form-group">
                                    <label for="input-select1">Units sold</label>
                                    <input id="input-select1" type="number" class="form-control" placeholder="1000">
    
                                </div>
    
                                <!-- <div class="form-group">
                                        <label for="input-select2"> Cost per unit</label>
                                        <input id="input-select2" type="number" class="form-control" placeholder="5000">
                                    </div> -->
    
                                <div class="form-group">
                                    <label for="input-select3">Sold To</label>
                                    <input id="input-select3" type="number" class="form-control" placeholder="myntra">
    
                                </div>
    
                                <div class="form-group">
                                    <label for="input-select4">Selling Price/unit</label>
                                    <input id="input-select4" type="number" class="form-control" placeholder="100">
    
                                </div>
    
    
                            </form>
                        </div>
    
                        <button type="button" class="btn btn-primary" aria-haspopup="true" aria-expanded="false"
                            style="width: 20%;margin-left: 5%;margin-bottom: 5%;">Submit</button>
    
    
    
                    </div>
                </div>
    
    
            </div>
        </div>
    </div>
    <!-- end of finished goods -->
    <div class="modal fade bd-example-modal-lg inventory" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel1"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
    
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    
    
                        <h5 class="card-header">Inventory Produced</h5>
                        <div class="card-body">
                            {% if message %}
                            {{ message }}
                            <br>
                            {% endif %}
                            {% if form_garment %}
                            <form  action="{{url_for('garment_produced')}}" method="POST">
                                <div class="form-group">
                                    {{ form_garment.garment_name.label }}: 
                                    {{ form_garment.garment_name }}
                                    {% if form_garment.garment_name.errors %}
                                    {% for error in form_garment.garment_name.errors %}
                                    <b style="color:tomato;"> {{ error }} </b>
                                    {% endfor %}
                                    {% endif %}
                                </div>
    
                                <div class="form-group">
                                    {{ form_garment.number_fabrics_used.label }}: 
                                    {{ form_garment.number_fabrics_used }}
                                    {% if form_garment.number_fabrics_used.errors %}
                                    {% for error in form_garment.number_fabrics_used.errors %}
                                    <b style="color:tomato;"> {{ error }} </b>
                                    {% endfor %}
                                    {% endif %}    
                                </div>
    
                                <div class="form-group">
                                    {{ form_garment.fabric1_id.label }}: 
                                    {{ form_garment.fabric1_id }}
                                    {% if form_garment.fabric1_id.errors %}
                                    {% for error in form_garment.fabric1_id.errors %}
                                    <b style="color:tomato;"> {{ error }} </b>
                                    {% endfor %}
                                    {% endif %}    
                                </div>
    
                                <div class="form-group">
                                    {{ form_garment.fabric1_weight_used.label }}: 
                                    {{ form_garment.fabric1_weight_used }}
                                    {% if form_garment.fabric1_weight_used.errors %}
                                    {% for error in form_garment.fabric1_weight_used.errors %}
                                    <b style="color:tomato;"> {{ error }} </b>
                                    {% endfor %}
                                    {% endif %}
                                </div>
    
                                <div class="form-group">
                                    {{ form_garment.fabric1_weight_wasted.label }}: <br>
                                    {{ form_garment.fabric1_weight_wasted }}
                                    <br>
                                    {% if form_garment.fabric1_weight_wasted.errors %}
                                    {% for error in form_garment.fabric1_weight_wasted.errors %}
                                    <b style="color:tomato;"> {{ error }} </b>
                                    <br>
                                    {% endfor %}
                                    {% endif %}
                                </div>
    
                                <div class="form-group">
                                    {{ form_garment.fabric2_id.label }}: 
                                    {{ form_garment.fabric2_id }}
                                    {% if form_garment.fabric2_id.errors %}
                                    {% for error in form_garment.fabric2_id.errors %}
                                    <b style="color:tomato;"> {{ error }} </b>
                                    {% endfor %}
                                    {% endif %}
                                </div>
    
                                <div class="form-group">
                                    {{ form_garment.fabric2_weight_used.label }}: 
                                    {{ form_garment.fabric2_weight_used }}
                                    {% if form_garment.fabric2_weight_used.errors %}
                                    {% for error in form_garment.fabric2_weight_used.errors %}
                                    <b style="color:tomato;"> {{ error }} </b>
                                    {% endfor %}
                                    {% endif %}
                                </div>
    
                                <div class="form-group">
                                    {{ form_garment.fabric2_weight_wasted.label }}: 
                                    {{ form_garment.fabric2_weight_wasted }}
                                    {% if form_garment.fabric2_weight_wasted.errors %}
                                    {% for error in form_garment.fabric2_weight_wasted.errors %}
                                    <b style="color:tomato;"> {{ error }} </b>
                                    {% endfor %}
                                    {% endif %}
                                </div>
    
                                <div class="form-group">
                                    {{ form_garment.trimming_technique.label }}: 
                                    {{ form_garment.trimming_technique }}
                                    {% if form_garment.trimming_technique.errors %}
                                    {% for error in form_garment.trimming_technique.errors %}
                                    <b style="color:tomato;"> {{ error }} </b>
                                    {% endfor %}
                                    {% endif %}
                                </div>
    
                                <div class="form-group">
                                    {{ form_garment.sewing_technique.label }}: 
                                    {{ form_garment.sewing_technique }}
                                    {% if form_garment.sewing_technique.errors %}
                                    {% for error in form_garment.sewing_technique.errors %}
                                    <b style="color:tomato;"> {{ error }} </b>
                                    {% endfor %}
                                    {% endif %}
                                </div>
    
                                <div class="form-group">
                                    {{ form_garment.printing_technique.label }}: 
                                    {{ form_garment.printing_technique }}
                                    {% if form_garment.printing_technique.errors %}
                                    {% for error in form_garment.printing_technique.errors %}
                                    <b style="color:tomato;"> {{ error }} </b>
                                    {% endfor %}
                                    {% endif %}
                                </div>
    
                                <div class="form-group">
                                    {{ form_garment.chemical_finish.label }}: 
                                    {{ form_garment.chemical_finish }}
                                    {% if form_garment.chemical_finish.errors %}
                                    {% for error in form_garment.chemical_finish.errors %}
                                    <b style="color:tomato;"> {{ error }} </b>
                                    {% endfor %}
                                    {% endif %}
                                </div>
    
                                <div class="form-group">
                                    {{ form_garment.screen_printing_or_heat_transfer.label }}: 
                                    {{ form_garment.screen_printing_or_heat_transfer }}
                                    {% if form_garment.screen_printing_or_heat_transfer.errors %}
                                    {% for error in form_garment.screen_printing_or_heat_transfer.errors %}
                                    <b style="color:tomato;"> {{ error }} </b>
                                    {% endfor %}
                                    {% endif %}
                                </div>
    
                                <div class="form-group">
                                    {{ form_garment.quantity_produced.label }}: 
                                    {{ form_garment.quantity_produced }}
                                    {% if form_garment.quantity_produced.errors %}
                                    {% for error in form_garment.quantity_produced.errors %}
                                    <b style="color:tomato;"> {{ error }} </b>
                                    {% endfor %}
                                    {% endif %}
                                </div>

                                <div class="form-group">
                                    {{ form_garment.production_cost_per_unit.label }}: 
                                    {{ form_garment.production_cost_per_unit }}
                                    {% if form_garment.production_cost_per_unit.errors %}
                                    {% for error in form_garment.production_cost_per_unit.errors %}
                                    <b style="color:tomato;"> {{ error }} </b>
                                    {% endfor %}
                                    {% endif %}
                                </div> 
                                
                                {{ form.csrf_token }}
                                {{ form.submit }}
    
                            </form>
                            {% endif %}
                        </div>
    
                        <!-- <button type="button" class="btn btn-primary" aria-haspopup="true" aria-expanded="false" -->
                            style="width: 20%;margin-left: 5%;margin-bottom: 5%;">Submit</button>
    
    
    
                    </div>
                </div>
    
    
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- main wrapper -->
    <!-- ============================================================== -->
    <div class="dashboard-main-wrapper">
        <!-- ============================================================== -->
        <!-- navbar -->
        <!-- ============================================================== -->
        <div class="dashboard-header">
            <nav class="navbar navbar-expand-lg bg-white fixed-top">
                <a class="navbar-brand" href="index.html">Collatz</a>
                <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button> -->
        
                <button type="button" class="btn btn-primary" id="Warehousedetails" style="margin-left: 65em;"
                    aria-haspopup="true" aria-expanded="false" data-toggle="modal" data-target=".bd-example-modal-lg">Warehouse
                    Details</button>
        
        
        
                <button type="button" class="btn btn-primary" id="transactiondetails" style="margin-left: 1em;"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Transaction Details</button>
        
                <div class="dropdown-menu" aria-labelledby="transactiondetails" style="margin-left: 90%;">
                    <a class="dropdown-item" aria-haspopup="true" aria-expanded="false" data-toggle="modal"
                        data-target=".finishedgoods">Finished Goods</a>
                    <a class="dropdown-item" aria-haspopup="true" aria-expanded="false" data-toggle="modal"
                        data-target=".inventory">Inventory Produced</a>
        
                </div>
        
                <div class="collapse navbar-collapse " id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto navbar-right-top">
                        <li class="nav-item dropdown nav-user">
                            <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false"><img src="static/assets/images/avatar-1.jpg" alt=""
                                    class="user-avatar-md rounded-circle"></a>
                            <div class="dropdown-menu dropdown-menu-right nav-user-dropdown"
                                aria-labelledby="navbarDropdownMenuLink2">
                                <div class="nav-user-info">
                                    <h5 class="mb-0 text-white nav-user-name">John Abraham </h5>
                                    <span class="status"></span><span class="ml-2">Available</span>
                                </div>
                                <a class="dropdown-item" href="#"><i class="fas fa-user mr-2"></i>Account</a>
                                <a class="dropdown-item" href="#"><i class="fas fa-cog mr-2"></i>Setting</a>
                                <a class="dropdown-item" href="#"><i class="fas fa-power-off mr-2"></i>Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- ============================================================== -->
        <!-- end navbar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- left sidebar -->
        <!-- ============================================================== -->
        <div class="nav-left-sidebar sidebar-dark">
            <div class="menu-list">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="d-xl-none d-lg-none" href="#">Dashboard</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav flex-column">
                            <li class="nav-divider">
                                Menu
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link active" href="#"><i class="fa fa-fw fa-chart-pie"></i>Performance
                                    Summary <span class="badge badge-success">6</span></a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="templates/leaderboard.html"><i
                                        class="fa fa-fw fa-chart-line"></i>Leaderboard <span
                                        class="badge badge-success">6</span></a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="#"><i class="fa fa-fw fa-clipboard-list"></i>Recommendations
                                    <span class="badge badge-success">6</span></a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="#"><i class="fa fa-fw fa-address-book"></i>Contacts <span
                                        class="badge badge-success">6</span></a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="#"><i class="fa fa-fw fa-handshake"></i>Agents <span
                                        class="badge badge-success">6</span></a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="#"><i class="fa fa-fw fa-quidditch"></i>Waste Statistics <span
                                        class="badge badge-success">6</span></a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="#"><i class="fa fa-fw fa-leaf"></i>Learn to Sustain <span
                                        class="badge badge-success">6</span></a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end left sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- wrapper  -->
        <!-- ============================================================== -->
        <div class="dashboard-wrapper">
            <div class="dashboard-ecommerce">
                <div class="container-fluid dashboard-content ">
                    <!-- ============================================================== -->
                    <!-- buttons  -->
                    <!-- ============================================================== -->
                    <!-- <div class="row">
                        <div class="col-xl-6 col-lg-6"></div>
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                            <div class="btn-toolbar">
                            <a href="#" class="btn btn-primary">Primary</a>
                            <a href="#" class="btn btn-brand">Brand</a>
                            </div>
                        </div>
                    </div> -->
                    <div class="row"></div>
                    <!-- ============================================================== -->
                    <!-- end buttons  -->
                    <!-- ============================================================== -->
                    <div class="ecommerce-widget" height="80em">
                        <div class="row">
                            <!-- ============================================================== -->
                            <!-- Profitability  -->
                            <!-- ============================================================== -->
                            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="card">
                                    <h5 class="card-header">Profitability</h5>
                                    <div class="card-body">
                                        <div class="ct-chart-category ct-golden-section" style="height: 50%;"></div>
                                        <div class="text-center m-t-40">
                                            <span class="legend-item mr-3">
                                                <span class="fa-xs text-primary mr-1 legend-tile"><i
                                                        class="fa fa-fw fa-square-full "
                                                        style="color:#005fa3"></i></span>
                                                <span class="legend-text">High</span>
                                            </span>
                                            <span class="legend-item mr-3">
                                                <span class="fa-xs text-secondary mr-1 legend-tile"><i
                                                        class="fa fa-fw fa-square-full"
                                                        style="color:#61b7e8"></i></span>
                                                <span class="legend-text">Medium</span>
                                            </span>
                                            <span class="legend-item mr-3">
                                                <span class="fa-xs text-info mr-1 legend-tile"><i
                                                        class="fa fa-fw fa-square-full"
                                                        style="color:#d5e9f5"></i></span>
                                                <span class="legend-text">Low</span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- ============================================================== -->
                            <!-- Sustainability  -->
                            <!-- ============================================================== -->
                            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="card">
                                    <h5 class="card-header">Sustainability</h5>
                                    <div class="card-body">
                                        <div class="ct-chart-category-1 ct-golden-section" style="height: 50%;"></div>
                                        <div class="text-center m-t-40">
                                            <span class="legend-item mr-3">
                                                <span class="fa-xs text-primary mr-1 legend-tile"><i
                                                        class="fa fa-fw fa-square-full "
                                                        style="color:#005fa3"></i></span>
                                                <span class="legend-text">High</span>
                                            </span>
                                            <span class="legend-item mr-3">
                                                <span class="fa-xs text-secondary mr-1 legend-tile"><i
                                                        class="fa fa-fw fa-square-full"
                                                        style="color:#61b7e8"></i></span>
                                                <span class="legend-text">Medium</span>
                                            </span>
                                            <span class="legend-item mr-3">
                                                <span class="fa-xs text-info mr-1 legend-tile"><i
                                                        class="fa fa-fw fa-square-full"
                                                        style="color:#d5e9f5"></i></span>
                                                <span class="legend-text">Low</span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- ============================================================== -->
                            <!-- Volume Sales  -->
                            <!-- ============================================================== -->
                            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="card">
                                    <h5 class="card-header"> Volume Sales </h5>
                                    <div class="card-body">
                                        <div class="ct-chart-category-2 ct-golden-section" style="height: 50%;"></div>
                                        <div class="text-center m-t-40">
                                            <span class="legend-item mr-3">
                                                <span class="fa-xs text-primary mr-1 legend-tile"><i
                                                        class="fa fa-fw fa-square-full " style="color:#005fa3"></i>
                                                </span><span class="legend-text">High</span>
                                            </span>
                                            <span class="legend-item mr-3">
                                                <span class="fa-xs text-secondary mr-1 legend-tile"><i
                                                        class="fa fa-fw fa-square-full"
                                                        style="color:#61b7e8"></i></span>
                                                <span class="legend-text">Medium</span>
                                            </span>
                                            <span class="legend-item mr-3">
                                                <span class="fa-xs text-info mr-1 legend-tile"><i
                                                        class="fa fa-fw fa-square-full"
                                                        style="color:#d5e9f5"></i></span>
                                                <span class="legend-text">Low</span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <!-- ============================================================== -->
                            <!-- total revenue  -->
                            <!-- ============================================================== -->


                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="card">
                                    <h5 class="card-header">Trends</h5>

                                    <div class="card-body">
                                        <canvas id="chartjs_line" height="100%"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->

            <!-- ============================================================== -->
            <!-- end footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- end wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- end main wrapper  -->
    <!-- ============================================================== -->
    <!-- Optional JavaScript -->
    <!-- jquery 3.3.1 -->
    <script src="static/assets/vendor/jquery/jquery-3.3.1.min.js"></script>
    <!-- bootstap bundle js -->
    <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
    <!-- slimscroll js -->
    <script src="static/assets/vendor/slimscroll/jquery.slimscroll.js"></script>
    <!-- main js -->
    <script src="static/assets/libs/js/main-js.js"></script>
    <!-- chart chartist js -->
    <script src="static/assets/vendor/charts/chartist-bundle/chartist.min.js"></script>
    <script src="static/assets/vendor/charts/charts-bundle/Chart.bundle.js"></script>
    <script src="static/assets/vendor/charts/charts-bundle/chartjs.js"></script>
    <!-- sparkline js -->
    <script src="static/assets/vendor/charts/sparkline/jquery.sparkline.js"></script>
    <!-- morris js -->
    <script src="static/assets/vendor/charts/morris-bundle/raphael.min.js"></script>
    <script src="static/assets/vendor/charts/morris-bundle/morris.js"></script>
    <!-- chart c3 js -->
    <script src="static/assets/vendor/charts/c3charts/c3.min.js"></script>
    <script src="static/assets/vendor/charts/c3charts/d3-5.4.0.min.js"></script>
    <script src="static/assets/vendor/charts/c3charts/C3chartjs.js"></script>
    <script src="static/assets/libs/js/dashboard-ecommerce.js"></script>
</body>

</html>